<div class="filter-menu">
  <span class="filter-icon">필터</span>
  <span class="filter-location">지역</span>
  <span class="filter-duty">직무</span>
  <span class="new-project"><%= link_to '새 프로젝트 모집', new_project_path %></span>
</div>
