<div class="footer">
  <span>로고</span>
  <div class="footer-info">
      프로젝트명 : <strong>미디어프로젝트</strong>  개발 : 김가현 주소 : 경기도 수원시 영통구 원천동 월드컵로 206 <br> tel : 010-4258-8535
      학번 : 201521955 e-mail : kimgahyun1@ajou.ac.kr
  </div>
</div>
