<%= render 'shared/navbar' %>
<div class="block" style="margin-top: 100px;">
  <h1>마이페이지입니다!</h1>  <br>

  <h2><%= @user.email %> 님 안녕하세요! </h2><br>

  <h3><a href="#">회원정보 수정</a></h3> <br>

  <h3><a href="#">프로필 수정</a></h3> <br>
  <h3><a href="#">스크랩한 티메이트</a></h3> <br>
  <h3><a href="#">스크랩한 프로젝트</a></h3> <br>

</div>
