<%= render 'shared/navbar' %>
<div class="form-section" style="margin-top: 120px;">
  <div class="" style= "display: block; padding: 30px 30px;">
      <h1>팀 모집입니다!</h1>
  </div>

  <!-- <div class="form" style="margin-top: 30px;">
    <%#= form_for @project do |f| %>
      <%#= f.label :Title %>
      <%#= f.text_field :title, required: :true, placeholder: "프로젝트명" %> <br>
      <%#= f.text_field :detail, required: :true, placeholder: "상세설명", label: false %>
      <%#= f.text_field :condition, required: :true, placeholder: "팀원 조건", label: false %>
      <%#= f.text_field :location, required: :true, placeholder: "장소", label: false %>
      <%#= f.text_field :time, required: :true, placeholder: "마감일", label: false %>
      <%#= f.text_field :number, required: :true, placeholder: "목표 인원", label: false %>
      <%#= f.submit class: 'btn btn-warning' %>
    <%# end %>
  </div> -->

</div>
