/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require jquery-ui
 *= require ionicons
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "ionicons";
 /*------------------------------------------------------------------

   Css Templete

   Project:	2019-1 미디어프로젝트 <teamate>
   Last change:	2019-03-16
   Author: 김가현

 -------------------------------------------------------------------*/

 /************** Font-awsome *************/

 @font-face {
   font-family: "FontAwesome";
   font-family: 'Nanum Gothic', sans-serif;

   src: url('assets/fonts/fontawesome-webfont.eot');
   src: url('assets/fonts/fontawesome-webfont.eot?#iefix') format('eot'), url('../font/fontawesome-webfont.woff') format('woff'), url('assets/font/fontawesome-webfont.ttf') format('truetype'), url('assets/font/fontawesome-webfont.svg#FontAwesome')    format('svg');
   font-weight: normal;
   font-style: normal;
 }

 /************** General *************/
 .header{
  position: fixed;
  z-index: 100;
  width: 100%;
  border-bottom: 1px solid #EFEFEF;
  top: 0px;
 }

 .filter{
   position: fixed;
   z-index: 99;
   width: 100%;
   top:0px;
   border-top: 1px solid #EFEFEF;
   margin-top: 69px;
 }

 body {
   background: #fafafa;
   font-family: 'NanumSquare', sans-serif; }

 a {
   text-decoration: none;
   cursor: pointer;
   color: inherit;
 }

 h1 {
 	font-weight: 700;
 	font-size: 34px;
 	color: #000;
 	margin: 0;
 }

 h2 {
 	font-size: 20px;
 	color: #000;
 	margin: 10px 0 10px;
 }

 h3 {
 	font-size: 17px;
 }

 p {
 	font-size: 15px;
 	line-height: 24px;
 	margin-top: 10px;
 }

 // to make <a> tag unclickable
 .unclickable{
   pointer-events: none;
   cursor: default;
 }

 /************** main page *************/

 .banner {
   -moz-box-align: center;
   align-items: center;
   display: flex;
   position: relative;
 }

 .bg-img{
   width: 100%;
   height: auto;
   position: relative;
   min-height: -webkit-fill-available;
   background-size: cover;
   background-position: center bottom;
 }

 .main-title{
  font-size: 35px;
  font-weight: 600;
  line-height: 50px;
  color: #ffffff;
  word-spacing: 2px;
  text-shadow: 1px 1px 5px #565656;
 }

 .main-title-desc{
  font-size: 17px;
  line-height: 35px;
  margin: 25px 0px 60px;
  color: #ffffff;
  text-shadow: 1px 1px 5px #565656;
 }

 .section{
   text-align: center;
   padding: 15px 0px 50px;
 }

 .section-title{
   text-align: center;
    margin: 30px 20px 10px;
    font-size: 17px;
    font-weight: 700;
 }

 /************** highlight *************/

 .highlight{
  background-color: #BFECD6;
  padding: 60px 0px;
  margin-bottom: 0px !important;
  text-align: center;
 }

 .highlight-title{
   margin: 20px 0px;
    font-size: 24px;
    font-weight: 700;
    color: #565656;
}
  .highlight-desc{
    font-size: 16px;
    line-height: 35px;
    margin-bottom: 30px;
 }

 .highlight-button{
  background: #ffffff;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.3);
  border-radius: 30px;
  font-size: 14px;
  font-weight: 700;
  width: 180px;
  height: 45px;
  line-height: 45px;
  display: inline-block;
  cursor: pointer;
 }
  .block {
  margin: 20px 20px;
  padding: 20px 20px;
  }

  /************** footer *************/

.footer{
  position: relative;
  height: 100px;
  text-align: center;
  font-weight: 500;
  border-top: 1px solid #EFEFEF;
  line-height: 50px;
  padding-top: 10px;
}

.footer-info{
  clear: both;
  line-height: 22px;
  font-size: 12px;
  text-align: center;
  color: #b1b1b1;
  padding-bottom: 20px;
}

/************** card *************/

.card{
  position: relative;
  width: 410px;
  vertical-align: top;
  margin: 20px 15px;
  background-color: #ffffff;
  display: inline-block;
  text-align: left;
  box-shadow: 0px 0px 30px #eee;
  padding: 32px 35px;
  box-sizing: border-box;
  height: 375px;
}

.card-profile-img{
  border-radius: 20px;
  overflow: hidden;
  width: 33px;
  height: 33px;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}

.card-username{
  margin-left: 7px;
  vertical-align: middle;
  display: inline;
  font-size: 15px;
  font-weight: 700;
  color: #3c3c3c;
  cursor: pointer;
}

.card-user-category{
  display: inline;
  position: absolute;
  right: 35px;
  color: #979797;
  font-size: 14px;
  cursor: pointer;
}

.card-sub{
  font-size: 13px;
  margin-top: 20px;
  margin-bottom: 5px;
  color: #707070;
  cursor: pointer;
}

.card-job{
  margin: 7px 0px;
  font-size: 20px;
  font-weight: 900;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-detail{
  margin: 7px 0px;
  cursor: pointer;
  height: 82px;
  overflow: hidden;
}

.card-bottom{
  vertical-align: middle;
  position: absolute;
  width: 100%;
  height: 30px;
  left: 0px;
  bottom: 23px;
}

.card-last-update{
  color: gray;
  position: absolute;
  top: 3px;
  left: 35px;
}

.card-scrap{
  position: absolute;
  right: 28px;
  font-size: 20px;
  cursor: pointer;
}

/************** recurit card *************/

.recruit-card{
  position: relative;
  width: 410px;
  height: 378px;
  vertical-align: top;
  margin: 20px 15px;
  background-color: #ffffff;
  display: inline-block;
  text-align: left;
  box-shadow: 0px 0px 30px #eee;
}

.recruit-card-image{
  height: 130px;
  overflow: hidden;
}

.hover{
  opacity: 0;
  transition-duration: 0.2s;
  background-color: #ffd112;
  width: 100%;
  height: 120px;
  position: absolute;
  top: 0px;
  text-align: center;
  cursor: pointer;
}

.recruit-content{
  padding: 25px 30px;
}

.recruit-title{
  font-size: 17px;
  font-weight: 700;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.recruit-subtitle{
  margin-top: 5px;
  color: #979797;
  font-size: 14px;
}

.recruit-for{
  margin-top: 15px;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
}

.recruit-desc{
  cursor: pointer;
  font-size: 15px;
  line-height: 25px;
  margin-top: 5px;
  color: #707070;
  word-break: keep-all;
}

.recruit-bottom{
  position: absolute;
  width: 100%;
  height: 30px;
  bottom: 23px;
  color: gray;
}

/************** filter *************/

.filter-menu{
  top: 69px;
  margin-bottom: 80px;
  z-index: 100;
  border-right: 1px solid #efefef;
  position: fixed;
  height: 53px;
  border-bottom: 1px solid #EFEFEF;
  background-color: #ffffff;
  width: 100%;
  display: inline-block;
  float: left;
  line-height: 53px;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
}

.filter-arrow{
  /* background-image: url(/img/ic_arrow_down.svg); */
  height: 8px;
  width: 6px;
  margin-left: 7px;
}

.filter-icon{
  /* background-image: url(/img/ic_filter.svg); */
  // background-position: center center;
  // background-repeat: no-repeat;
  height: 53px;
  cursor: inherit;
}

.filter-selectbox{
  transform: scale(0);
  transition-duration: 0.1s;
  transform-origin: top center;
  background-color: #ffffff;
  position: absolute;
  z-index: 10;
  width: 110px;
  border-left: 1px solid #EFEFEF;
  border-right: 1px solid #EFEFEF;
  border-bottom: 1px solid #EFEFEF;
}

.new-project{
  line-height: 53px;
  font-weight: 700;
  font-size: 14px;
  cursor: pointer;
  text-decoration: underline;
  position: absolute;
  right: 24px;
}


/************** navbar *************/

ul {
  list-style-type: none;
  margin: 0;
  padding: 10px;
  overflow: hidden;
  background-color: white;
}

li {
  float: right;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/************** form *************/

.form-section{
  text-align: left;
  margin: 0px auto;
  width: 800px;
  min-height: 500px;
  margin-top: 40px;
  background-color: #ffffff;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
}

.form-title{
  font-size: 14px;
  color: #3c3c3c;
  font-weight: 700;
  padding: 18px 30px 13px;
  border-bottom: 1px solid #3c3c3c;
}

.form-new{
  line-height: 38px;
  font-size: 14px;
  margin: 20px 35px;
  vertical-align: top;
}

.form-button{
  line-height: 38px;
  font-size: 14px;
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: center;
}

.custom-form{
  width: 130%;
}

.form-input{
  background-color: #ffffff;
  height: 38px;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid #e1e1e1;
  border-radius: 4px;
  padding: 0px 10px;
  font-size: 14px;
  color: #3c3c3c;
  vertical-align: middle;
}

/************** project#show *************/

.team-view{
  max-width: 800px;
  margin: 0px auto;
  box-sizing: border-box;
}
.team-head{
  padding: 120px 0px 40px;
  text-align: center;
}

.team-name{
  font-size: 30px;
  font-weight: 900;
  color: #3c3c3c;
  margin: 0px 12px;
  line-height: 40px;
}

.team-title{
  margin-bottom: 18px;
  padding: 0px 20px;
}

.team-detail{
  color: #3c3c3c;
}

.team-divbar{
  height: 38px;
  border-bottom: 2px solid #EFEFEF;
}

.team-recruit{
  padding: 40px 18px;
  text-align: left;
  line-height: 3em;
}


.team-content{
  padding: 40px 18px;
  text-align: left;
}

.team-section-title{
  font-size: 18px;
  font-weight: 700;
  color: #3c3c3c;
  display: inline-block;
  margin-right: 20px;
  vertical-align: middle;
}

.team-section-content{
  font-size: 16px;
  color: rgb(60, 60, 60);
}
